/* Exercise 01 */
#a {
    background-color: red;
    color: white;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
}
#aa {
    background-color: green;
    color: white;
    font-size: 18px; 
 }
/* Exercise 02 */
 .odd {
    background-color: pink;
    font-family: Verdana, "DejaVu Sans", sans-serif;
 }

#nd {
   color: blue;
   font-size: 36px; 
}

.rd-th {
    font-size: 24px;
}

#th {
    background-color: lightgreen;
    font-weight: bold;
}
/* Exercise 03 */
.cm
.ncm {
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}
.cm {
    background-color: black;
    color: white;
}
.ncm {
    background-color: yellow;
}
/* Exercise 04 */
.avatar.proportioned {
    width: 300px;
    height: auto;
}
.avatar.distorted {
    width: 200px;
    height: 400px;
}